FileLabel {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
}