TextToLearn {
    color: black;
    border-style: solid;
    text-align: center;
    border-width: 2px;
    background: #863d9e;
    padding: 20px;
    width: 200px;
    height: 150px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 0px;
    margin: auto;
    font-weight: 800;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
}